{% extends "base_start.html" %}
{% block header %}
    <div class="mb-3">
      <a href="{{ url_for('main.index') }}" class="btn btn-secondary btn-lg px-2">Zurück</a>
    </div>
    <hr class="col-3 col-md-2 mb-4">
{% endblock %}
{% block content %}
<div class="col-md-6 mod-exports">
    <h5>Bitte eine der gewünschten verdichteten Listen auswählen:</h5>
    <ul class="list-unstyled ps-0">
        <li class="icon-link mb-3 p-2 bg-body-secondary">
            <button type="button" class="btn btn-primary" onclick="performExport(this,'ax-qy-visiter/store-no')">
                <svg class="bi bi-eye" width="16" height="16"><use xlink:href="#eye"/></svg>
                Ansehen
            </button>
            <button type="button" class="btn btn-secondary me-2" onclick="performExport(this,'ax-qy-visiter/store-yes', true)">
                <svg class="bi bi-download" width="16" height="16"><use xlink:href="#download"/></svg>
                Herunterladen
            </button>
            <span class="text-primary-emphasis">Anzahl der Besucher im PCafé pro Monat und Jahr</span>
        </li>
        <li class="icon-link mb-3 p-2 bg-body-secondary">
            <button type="button" class="btn btn-primary" onclick="performExport(this,'ax-qy-events/store-no')">
                <svg class="bi bi-eye" width="16" height="16"><use xlink:href="#eye"/></svg>
                Ansehen
            </button>
            <button type="button" class="btn btn-secondary me-2" onclick="performExport(this,'ax-qy-events/store-yes', true)">
                <svg class="bi bi-download" width="16" height="16"><use xlink:href="#download"/></svg>
                Herunterladen
            </button>
            <span class="text-primary-emphasis">Anzahl der Veranstaltungen pro Art/Typ im PCafé pro Monat und Jahr mit Spendensumme</span>
        </li>
        <li class="icon-link mb-3 p-2 bg-body-secondary">
            <button type="button" class="btn btn-primary" onclick="performExport(this,'ax-qy-events-theme/store-no')">
                <svg class="bi bi-eye" width="16" height="16"><use xlink:href="#eye"/></svg>
                Ansehen
            </button>
            <button type="button" class="btn btn-secondary me-2" onclick="performExport(this,'ax-qy-events-theme/store-yes', true)">
                <svg class="bi bi-download" width="16" height="16"><use xlink:href="#download"/></svg>
                Herunterladen
            </button>
            <span class="text-primary-emphasis">Anzahl der Veranstaltungen pro Art/Typ pro Thema im PCafé pro Monat und Jahr mit Spendensumme</span>
        </li>
        <li class="icon-link mb-3 p-2 bg-body-secondary">
            <button type="button" class="btn btn-primary" onclick="performExport(this,'ax-qy-visiter-info/store-no')">
                <svg class="bi bi-eye" width="16" height="16"><use xlink:href="#eye"/></svg>
                Ansehen
            </button>
            <button type="button" class="btn btn-secondary me-2" onclick="performExport(this,'ax-qy-visiter-info/store-yes', true)">
                <svg class="bi bi-download" width="16" height="16"><use xlink:href="#download"/></svg>
                Herunterladen
            </button>
            <span class="text-primary-emphasis">Anzahl der Besucher bei Infoveranstaltungen pro Thema</span>
        </li>
        <li class="icon-link mb-3 p-2 bg-body-secondary">
            <button type="button" class="btn btn-primary" onclick="performExport(this,'ax-qy-visiter-ext/store-no')">
                <svg class="bi bi-eye" width="16" height="16"><use xlink:href="#eye"/></svg>
                Ansehen
            </button>
            <button type="button" class="btn btn-secondary me-2" onclick="performExport(this,'ax-qy-visiter-ext/store-yes', true)">
                <svg class="bi bi-download" width="16" height="16"><use xlink:href="#download"/></svg>
                Herunterladen
            </button>
            <span class="text-primary-emphasis">Anzahl der Besucher der externen Orte pro Monat und Jahr</span>
        </li>
        <li class="icon-link mb-3 p-2 bg-body-secondary">
            <button type="button" class="btn btn-primary" onclick="performExport(this,'ax-qy-visiter-last/store-no')">
                <svg class="bi bi-eye" width="16" height="16"><use xlink:href="#eye"/></svg>
                Ansehen
            </button>
            <button type="button" class="btn btn-secondary me-2" onclick="performExport(this,'ax-qy-visiter-last/store-yes', true)">
                <svg class="bi bi-download" width="16" height="16"><use xlink:href="#download"/></svg>
                Herunterladen
            </button>
            <span class="text-primary-emphasis">Besucher mit Anzahl Veranstaltungen und letzter Besuch</span>
        </li>
    </ul>
</div>
<div class="col-md-6 mod-exports">
    <h5>Bitte eine der gewünschten detaillierten Listen auswählen:</h5>
    <ul class="list-unstyled ps-0">
        <li class="icon-link mb-3 p-2 bg-body-secondary">
            <button type="button" class="btn btn-primary" onclick="performExport(this,'ax-qy-visiter-events/store-no')">
                <svg class="bi bi-eye" width="16" height="16"><use xlink:href="#eye"/></svg>
                Ansehen
            </button>
            <button type="button" class="btn btn-secondary me-2" onclick="performExport(this,'ax-qy-visiter-events/store-yes', true)">
                <svg class="bi bi-download" width="16" height="16"><use xlink:href="#download"/></svg>
                Herunterladen
            </button>
            <span class="text-primary-emphasis">Veranstaltungen im PCafé mit Besuchern</span>
        </li>
        <li class="icon-link mb-3 p-2 bg-body-secondary">
            <button type="button" class="btn btn-primary" onclick="performExport(this,'ax-qy-coaches-events/store-no')">
                <svg class="bi bi-eye" width="16" height="16"><use xlink:href="#eye"/></svg>
                Ansehen
            </button>
            <button type="button" class="btn btn-secondary me-2" onclick="performExport(this,'ax-qy-coaches-events/store-yes', true)">
                <svg class="bi bi-download" width="16" height="16"><use xlink:href="#download"/></svg>
                Herunterladen
            </button>
            <span class="text-primary-emphasis">Veranstaltungen im PCafé mit Beratern</span>
        </li>
    </ul>
</div>
{% endblock %}
