<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Programme für PCafé Norderstedt">
    <meta name="author" content="Thomas Wachler-Thomsen">
    <title>PCafe - Norderstedt / Besucherverwaltung Log-In</title>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  
    <!-- Favicons -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='Favicon_PCafe.png') }}" sizes="29x26" type="image/png">
      
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/sign-in.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/heroes.css') }}" rel="stylesheet">
  </head>
<body class="d-flex align-items-center py-4 bg-body-tertiary">
<main class="w-100 m-auto">

{% if mode == 'no' %}
  <form class="form-signin" id="frm-main" novalidate autocomplete="off" method="post" enctype="multipart/form-data">
    <img class="mb-4 mx-auto" src="{{ url_for('static', filename='Logo_PCafe.png') }}" alt="">
    <span class="ms-3">Besucherverwaltung</span>
    <h1 class="h3 mb-3 fw-normal">Anmelden</h1>

    <div class="form-floating">
        <input type="text" name="username" class="form-control" id="floatingInput">
        <label for="floatingInput">Benutzername</label>
    </div>
    <div class="form-floating">
        <input type="password" name="password" class="form-control" id="floatingPassword">
        <label for="floatingPassword">Passwort</label>
    </div>
    <div class="alert alert-danger {{ error['class'] }}" role="alert">
      {{ error['userfault'] }}
    </div>
    <button class="btn btn-primary w-100 py-2" type="submit">Absenden</button>
    <p class="mt-5 mb-3 text-body-secondary">Version: {{ credits['version'] }}</p>
  </form>
{% endif %}

{% if mode == 'yes' %}
    <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='Logo_PCafe.png') }}" alt="">
    <h1 class="display-5 fw-bold text-body-emphasis">Du bist bereits als<br>{{ credits['username'] }}<br> angemeldet</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Ein erneutes Anmelden kann erst nach einem Abmelden erfolgen.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="{{ url_for('index') }}" class="px-4 gap-3">Zur Startseite</a>
            <a href="{{ url_for('login.logout') }}" class="px-4 gap-3">Abmelden</a>
        </div>
    </div>
    </div>
{% endif %}

</main>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/sign-in.js') }}"></script>

</body>
</html>
