{% extends "base_form.html" %}

{% block overview %}
    <thead>
      <tr>
        <th scope="col" style="width: 6%">Nr.</th>
        <th scope="col" style="width: 90%">Bezeichnung</th>
        <th scope="col" style="line-height: 1em; width: 4%">Än- dern</th>
      </tr>
    </thead>
{% endblock %}

{% block form_input %}
        <div class="row g-3">
          <div class="bg-light ms-2 pb-1" style="width: 98%;">
            <label for="frm-main-bezeichnung">Bezeichnung</label>
            <input type="text" class="form-control storaged-elem" name="frm-main-bezeichnung" id="frm-main-bezeichnung" required>
            <div class="invalid-feedback"></div>
          </div>
        </div>
{% endblock %}
